<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(44, 67, 167);
        }
        
        h3{
            color: rgb(255, 255, 0);
        }
    </style>
    
    <link rel="stylesheet"href="../style.css">
    <link rel="stylesheet"href="../assets/mieayam.css">
</head>
<body>  
    <h1 style="color: rgb(255, 48, 21);">Hello Alexxx</h1>
    <h2 style="font-style: italic;color: rgb(0, 255, 0);">Hello Gyennn</h2>
    <h3>Hello Zeynnn</h3>
    <h4>Hello Arsenn</h4>
    <h5>Hello Claraa</h5>
</body>
</html>